/*
    ** Media Query **
*/
/*
    ** OverLay **
*/
/*
    ** prefix mixin **
    ** Auto Add prefixes to property **
*/
/*
    ** Animation mixin **
    ** Auto Add prefixes to Animation **
*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.container {
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative; }
  @media (min-width: 768px) {
    .container {
      width: 750px; } }
  @media (min-width: 992px) {
    .container {
      width: 970px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1170px; } }

ul, ol {
  list-style-type: none;
  padding: 0; }

.clearFix {
  clear: both; }

@media (max-width: 767px) {
  .text-center-xs {
    text-align: center; } }

@media (min-width: 992px) {
  .hidden-xs {
    display: none; } }

.head-with-border {
  position: relative; }
  .head-with-border h2 {
    text-align: center;
    color: #FFF;
    background-color: #e2494c;
    margin: 40px auto;
    width: 400px;
    max-width: 400px;
    border-radius: 15px;
    padding: 10px 50px; }
    @media (max-width: 767px) {
      .head-with-border h2 {
        width: 300px; } }
    .head-with-border h2:before {
      content: '';
      width: 100%;
      height: 1.5px;
      background-color: #9c9c9c;
      position: absolute;
      left: 0;
      top: 50%;
      z-index: -1; }

button {
  outline-style: none; }

.main-button {
  background-color: rgba(226, 73, 76, 0.7);
  color: #fff;
  border: 0;
  padding: 10px 15px;
  text-align: center;
  min-width: 120px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 10px;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  .main-button:hover {
    background-color: #e2494c; }

.the-toggler {
  background-color: #e2494c;
  border: none;
  padding: 8px;
  position: absolute;
  top: 25px;
  right: 15px;
  display: none; }
  @media (max-width: 767px) {
    .the-toggler {
      display: block; } }
  .the-toggler span {
    display: block;
    width: 50px;
    height: 4px;
    background-color: #FFF;
    cursor: pointer; }
    .the-toggler span:not(:last-child) {
      margin-bottom: 3px; }

.header {
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
  overflow: hidden; }
  @media (min-width: 768px) {
    .header .logo {
      width: 100%;
      text-align: center;
      float: none; } }
  @media (min-width: 992px) {
    .header .logo {
      width: 30%;
      float: left;
      text-align: left; } }
  .header .logo .text {
    float: left; }
    .header .logo .text h1 {
      display: inline-block;
      margin: 7px 0; }
    .header .logo .text p {
      display: block;
      margin: 0; }
  .header .logo .the-toggler {
    float: left;
    right: 15px; }
  .header .navbar {
    background-color: #e2494c;
    border-radius: 50px;
    overflow: hidden; }
    @media (min-width: 768px) {
      .header .navbar {
        width: 100%;
        float: none;
        margin-bottom: 30px;
        display: block !important; } }
    @media (min-width: 992px) {
      .header .navbar {
        width: 70%;
        float: left;
        margin-top: 1em; } }
    @media (max-width: 767px) {
      .header .navbar {
        display: none;
        border-radius: 0; } }
    .header .navbar li {
      display: inline-block;
      width: 19%;
      font-size: 18px;
      text-align: center; }
      @media (max-width: 767px) {
        .header .navbar li {
          float: none;
          display: block;
          width: 100%;
          text-align: left;
          padding-left: 10px;
          padding-right: 10px; } }
      .header .navbar li a {
        display: block;
        color: #fff;
        text-decoration: none;
        padding: 15px 10px; }
        .header .navbar li a:hover {
          color: #ddd; }

/* Start Slider */
.slider {
  text-align: center; }
  .slider blockquote {
    text-align: center;
    line-height: 34px;
    color: #9c9c9c;
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
    font-family: Tahoma,Arial; }
  .slider img {
    margin: 10px auto;
    max-width: 100%;
    width: 100%;
    height: 519px; }
  .slider .bullets li {
    width: 20px;
    height: 20px;
    background-color: #9c9c9c;
    display: inline-block;
    border: 2px solid #9c9c9c;
    border-radius: 50%;
    margin: 0 3px;
    cursor: pointer; }
    .slider .bullets li.active, .slider .bullets li:hover {
      background-color: #FFF;
      border: 2px solid #333; }

/* End Slider */
/* Start Service */
.Services {
  margin: 20px auto;
  margin-top: 82px; }
  .Services .service-box {
    text-align: left; }
    @media (min-width: 992px) {
      .Services .service-box {
        float: left;
        width: 33.3333333333%; }
        .Services .service-box:not(:last-of-type) {
          padding-right: 20px; } }
    @media (max-width: 767px) {
      .Services .service-box i {
        display: block;
        margin-bottom: 15px; } }
    .Services .service-box .service-title {
      color: #666; }
      .Services .service-box .service-title i {
        position: relative;
        font-size: 35px;
        top: 4px; }
      .Services .service-box .service-title .heading {
        margin: 0 8px; }
    .Services .service-box .service-description {
      color: #777;
      line-height: 1.5; }
    .Services .service-box .link {
      color: #e2494c;
      text-decoration: none; }

/* End Service */
/* Start our-players */
.our-players {
  margin: 20px auto;
  margin-top: 82px; }
  .our-players .player-box {
    padding-right: 20px;
    margin-bottom: 30px; }
    @media (min-width: 768px) {
      .our-players .player-box {
        padding: 7px;
        float: left;
        width: 50%;
        text-align: center; } }
    @media (min-width: 992px) {
      .our-players .player-box {
        padding: 7px;
        width: 50%;
        text-align: left; } }
    @media (min-width: 1200px) {
      .our-players .player-box {
        width: 25%;
        margin-bottom: 0; } }
    @media (max-width: 767px) {
      .our-players .player-box {
        padding-right: 0;
        margin-bottom: 0; } }
    .our-players .player-box .player-title {
      color: #666;
      font-weight: normal; }
      .our-players .player-box .player-title .heading {
        font-weight: bold; }
    .our-players .player-box .player-description {
      color: #777;
      line-height: 1.5; }
    .our-players .player-box .link {
      color: #e2494c;
      text-decoration: none; }
    .our-players .player-box img {
      width: 100%;
      max-width: 100%;
      height: 200px;
      max-height: 216px; }

/* End our-players */
/* Start lorem ipsum */
.lorem-ipsum {
  margin: 20px auto;
  margin-top: 82px; }
  .lorem-ipsum .lorem-box {
    float: left;
    width: 33.3333333333%;
    text-align: center;
    padding: 0 5px; }
    .lorem-ipsum .lorem-box img {
      max-width: 100%;
      width: 100%;
      height: 200px; }

/* End lorem ipsum */
button {
  outline-style: none; }

.main-button {
  background-color: rgba(226, 73, 76, 0.7);
  color: #fff;
  border: 0;
  padding: 10px 15px;
  text-align: center;
  min-width: 120px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 10px;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  .main-button:hover {
    background-color: #e2494c; }

.the-toggler {
  background-color: #e2494c;
  border: none;
  padding: 8px;
  position: absolute;
  top: 25px;
  right: 15px;
  display: none; }
  @media (max-width: 767px) {
    .the-toggler {
      display: block; } }
  .the-toggler span {
    display: block;
    width: 50px;
    height: 4px;
    background-color: #FFF;
    cursor: pointer; }
    .the-toggler span:not(:last-child) {
      margin-bottom: 3px; }

/*
    ** Start Footer
*/
.footer {
  background-color: #dadada;
  overflow: hidden;
  padding-top: 50px;
  margin-top: 50px; }
  .footer .gallery, .footer .info, .footer .contact {
    float: left;
    text-align: left;
    padding: 0 10px; }
  @media (min-width: 768px) {
    .footer .gallery {
      width: 100%; } }
  @media (min-width: 992px) {
    .footer .gallery {
      width: 50%; } }
  .footer .gallery .img-box {
    overflow: hidden;
    margin-bottom: 20px; }
    .footer .gallery .img-box img {
      width: 150px;
      height: 135px; }
      @media (min-width: 768px) {
        .footer .gallery .img-box img {
          float: left; } }
    @media (min-width: 768px) {
      .footer .gallery .img-box .text {
        float: left;
        margin-right: 15px;
        margin-left: 15px;
        width: calc(100% - 180px); } }
    .footer .gallery .img-box .text h4 {
      color: #e2494c;
      margin: 20px 0 0; }
    .footer .gallery .img-box .text p {
      color: #888;
      line-height: 1.9;
      margin-top: 2px; }
  @media (min-width: 768px) {
    .footer .info {
      width: 50%; } }
  @media (min-width: 992px) {
    .footer .info {
      width: 25%; } }
  .footer .info ul {
    color: #888; }
    .footer .info ul li {
      line-height: 28px; }
      .footer .info ul li span {
        color: #e2494c; }
  .footer .info h4 {
    color: #767474;
    font-weight: bold;
    margin-bottom: 0; }
  .footer .info p {
    color: #888; }
  @media (min-width: 768px) {
    .footer .contact {
      width: 50%; } }
  @media (min-width: 992px) {
    .footer .contact {
      width: 25%; } }
  .footer .contact input[type="text"],
  .footer .contact input[type="email"],
  .footer .contact textarea {
    border: 1px solid #c9c9c9;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 10px;
    width: 100%; }
  .footer .contact textarea {
    height: 140px; }
  .footer .section-title {
    color: #444; }
  .footer .copyright {
    padding: 15px 0;
    border-top: 2px solid #d4d4d4;
    overflow: hidden;
    margin-top: 30px; }
    .footer .copyright .text,
    .footer .copyright .author {
      float: left;
      width: 50%;
      color: #787878; }
      @media (max-width: 767px) {
        .footer .copyright .text,
        .footer .copyright .author {
          width: 100%;
          float: none;
          text-align: center; } }
    .footer .copyright .author {
      text-align: right; }
      @media (max-width: 767px) {
        .footer .copyright .author {
          text-align: center;
          margin-top: 15px; } }

/*
    ** End Start Footer
*/

/*# sourceMappingURL=homepage.css.map */
