.slider {
  text-align: center; }
  .slider blockquote {
    text-align: center;
    line-height: 34px;
    color: #9c9c9c;
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
    font-family: Tahoma,Arial; }
  .slider img {
    margin: 10px auto;
    max-width: 100%;
    width: 100%;
    height: 519px; }
  .slider .bullets li {
    width: 20px;
    height: 20px;
    background-color: #9c9c9c;
    display: inline-block;
    border: 2px solid #9c9c9c;
    border-radius: 50%;
    margin: 0 3px;
    cursor: pointer; }
    .slider .bullets li.active, .slider .bullets li:hover {
      background-color: #FFF;
      border: 2px solid #333; }

.Services .service-box {
  text-align: right; }
  @media (min-width: 992px) {
    .Services .service-box {
      float: right; } }

@media (min-width: 768px) {
  .our-players .player-box {
    float: right; } }
@media (min-width: 992px) {
  .our-players .player-box {
    text-align: right; } }

.lorem-ipsum .lorem-box {
  float: right; }

/* End lorem ipsum */
@media (min-width: 992px) {
  .header .logo {
    float: right;
    text-align: right; } }
.header .logo .text {
  float: right; }
.header .logo .the-toggler {
  float: right;
  right: auto;
  left: 15px; }
@media (min-width: 992px) {
  .header .navbar {
    float: right; } }
@media (max-width: 767px) {
  .header .navbar li {
    text-align: right; } }

/*
    ** Start Footer
*/
.footer .gallery, .footer .info, .footer .contact {
  float: right;
  text-align: right;
  padding: 0 10px; }
@media (min-width: 768px) {
  .footer .gallery .img-box img {
    float: right; } }
@media (min-width: 768px) {
  .footer .gallery .img-box .text {
    float: right; } }

.copyright .text,
.copyright .author {
  float: right; }
.copyright .author {
  text-align: left; }

/*
    ** End Start Footer
*/

/*# sourceMappingURL=homepage-rtl.css.map */
