@import 'sass/helpers/variables';//Var

$float-left: right;
$float-right: left;

$text-right: left;
$text-left: right;

.slider{
    text-align: center;
    blockquote{
      text-align: center;
      line-height: 34px;
      color: $greyColor;
      font: {
          style:italic;
          size:20px;
          weight:bold;
          family:Tahoma,Arial;
      }
    }
    img{
      margin: 10px auto;
      max-width: 100%;
      width: 100%;
      height: 519px;
    }
    .bullets{
  
      li{
        width: 20px;
        height: 20px;
        background-color: $greyColor;
        display: inline-block;
        border:2px solid $greyColor;
        border-radius: 50%;
        margin: 0 3px;
        cursor: pointer;
        &.active,
        &:hover{
          background-color:#FFF;
          border: 2px solid #333;
        }
      }
    }
  }

  .Services{
    .service-box{
    text-align: $text-left;
        @media #{$minMedium} {
            float: $float-left;
        }
      }
    }

  
  .our-players{
    .player-box{
      @media #{$minSmall} {
        float: $float-left;
      }
      @media #{$minMedium} {
        text-align: $text-left
      }
      }
    }
  
 
  .lorem-ipsum{
        .lorem-box{
            float: $float-left;
        }
    }
  /* End lorem ipsum */

.header{
    .logo{
        @media #{$minMedium}{
            float: $float-left;
            text-align: $text-left
        }
        .text{
            float: $float-left;
        }
        .the-toggler{
            float: $float-left;
            right:auto;
            left: 15px;
        }
    }
    .navbar{
        @media #{$minMedium}{
            float: $float-left;
        }
        li{
            @media #{$maxMobile}{
                text-align: $text-left;
            }
        }
    }
}

/*
    ** Start Footer
*/
.footer{
    .gallery,.info,.contact{
        float:$float-left;
        text-align: $text-left;
        padding: 0 10px;
    }
    .gallery{
        .img-box{
            img{
                @media #{$minSmall} {
                    float: $float-left;
                }
            }
            .text{
                @media #{$minSmall} {
                    float:$float-left;
                }
            }
        } 
    }
    
    }
    .copyright{
        .text,
        .author{
            float:$float-left;
        }
        .author{
            text-align:$text-right;
        }
    }


/*
    ** End Start Footer
*/