button{
    outline-style: none;
}
.main-button{
    background-color: rgba($redColor,.7);
    color:#fff;
    border:0;
    padding:10px 15px;
    text-align: center;
    min-width: 120px;
    text-transform: uppercase;
    font-weight:bold;
    border-radius: 10px;
    @include prefixer(transition, all .2s ease-in-out, (moz , webkit ,moz) );
    &:hover{
        background-color: $redColor;
    }
}
.the-toggler{
    background-color: $redColor;
    border: none;
    padding: 8px;
    position: absolute;
    top:25px;
    right: 15px;
    display: none;
    @media #{$maxMobile}{
        display: block;
    }
    span{
        display: block;
        width: 50px;
        height: 4px;
        background-color: #FFF;
        
        cursor: pointer;
        &:not(:last-child){
            margin-bottom:3px
        }
    }
}