.head-with-border{
    position: relative;
    h2{
        text-align:center;
        color:#FFF;
        background-color: $redColor;
        margin:40px auto;
        width:400px;
        max-width:400px;
        border-radius: 15px;
        padding:10px 50px;
        @media #{$maxMobile} {
            width:300px
        }
        &:before{
            content:'';
            width:100%;
            height:1.5px;
            background-color: $greyColor;
            position: absolute;
            left:0;
            top:50%;
            z-index:-1;
        }
    }
    
}