/*
    ** Media Query **
*/

@mixin minMedium {
    @media (min-width: 992px){
        @content;
    }
}

/*
    ** OverLay **
*/
@mixin  overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
}

/*
    ** prefix mixin **
    ** Auto Add prefixes to property **
*/

@mixin prefixer($property, $value, $prefixes: ()) {
    @each $prefix in $prefixes {
        #{ '-' + $prefix + '-' + $property }: $value;
    }
    #{$property}: $value;
}

/*
    ** Animation mixin **
    ** Auto Add prefixes to Animation **
*/
@mixin keyframe($animation-name) {
    
    @-webkit-keyframes #{$animation-name}{
        @content;
    }
    @-moz-keyframes #{$animation-name}{
        @content;
    }
    @keyframes #{$animation-name}{
        @content;
    }
    
}