/*
    ** Start Footer
*/
.footer{
    background-color:#dadada;
    overflow:hidden;
    padding-top: 50px;
    margin-top:50px;
    .gallery,.info,.contact{
        float:$float-left;
        text-align: $text-left;
        padding: 0 10px;
    }
    .gallery{
        @media #{$minSmall} {
            width:100%;
        }
        @media #{$minMedium} {
            width: 50%;
        }
        .img-box{
            overflow: hidden;
            margin-bottom: 20px;
            img{
                width: 150px;
                height: 135px;
                @media #{$minSmall} {
                    float: $float-left;
                }
            }
            .text{
                @media #{$minSmall} {
                    float:$float-left;
                    margin-right: 15px;
                    margin-left: 15px;
                    width: calc(100% - 180px);
                }
                h4{
                    color:$redColor;
                    margin:20px 0 0;
                }
                p{
                    color:#888;
                    line-height: 1.9;
                    margin-top: 2px;
                }
            }
        }
    }
    .info{
        @media #{$minSmall} {
            width: 50%;
        }
        @media #{$minMedium} {
            width:25%;
        }
        ul{
            color:#888;
            li{
                line-height:28px;
                span{
                    color:$redColor
                }
            }
        }
        h4{
            color: #767474;
            font-weight: bold;
            margin-bottom: 0;
        }
        p{
            color: #888;     
        }
    }
    .contact{
        @media #{$minSmall} {
            width: 50%;
        }
        @media #{$minMedium} {
            width:25%;
        }
        input[type="text"],
        input[type="email"],
        textarea{
            border:1px solid #c9c9c9;
            padding:10px;
            margin-bottom: 5px;
            border-radius: 10px;
            width:100%;
        }
        textarea{
            height:140px;
        }
    }
    .section-title{
        color:#444
    }
    .copyright{
        padding: 15px 0;
        border-top: 2px solid #d4d4d4;
        overflow: hidden;
        margin-top: 30px;
        .text,
        .author{
            float:$float-left;
            width:50%;
            color: #787878;
            @media #{$maxMobile} {
                width:100%;
                float: none;
                text-align:center;
            }
        }
        .author{
            text-align:$text-right;
            @media #{$maxMobile} {
                text-align:center;
                margin-top: 15px
            }
        }
    }
}

/*
    ** End Start Footer
*/