*{
    @include prefixer(box-sizing,border-box,webkit moz);
}

.container{
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;

    @media #{$minSmall}{
        width: 750px;
    }
    @media #{$minMedium}{
        width: 970px;
    }
    @media #{$minLarge}{
        width: 1170px;
    }
}

ul,ol{
    list-style-type: none;
    padding:0
}

.clearFix{
    clear: both;
}

.text-center-xs{
    @media #{$maxMobile} {
        text-align: center;
    }
}
.hidden-xs{
    @media #{$minMedium} {
        display:none
    }
}