.header{
    padding:20px 0;
    border-bottom: 1px solid #ccc;
    overflow:hidden;
    .logo{
        @media #{$minSmall}{
            width: 100%;
            text-align: center;
            float: none
        }
        @media #{$minMedium}{
            width: 30%;
            float: $float-left;
            text-align: $text-left
        }
        .text{
            float: $float-left;
            h1{
                display: inline-block;
                margin: 7px 0;
            }
            p{
                display: block;
                margin: 0;
            }
        }
        .the-toggler{
            float: $float-left;
            right: 15px;
        }
        
    }
    .navbar{
        background-color: $redColor;
        border-radius: 50px;
        overflow: hidden;
        @media #{$minSmall}{
            width: 100%;
            float: none;
            margin-bottom:30px;
            display: block !important;
        }
        @media #{$minMedium}{
            width:70%;
            float: $float-left;
            margin-top: 1em;
        }
        @media #{$maxMobile}{
            display: none;
            border-radius: 0;
        }
        li{
            display: inline-block;
            width:19%;
            font-size: 18px;
            text-align: center;
            @media #{$maxMobile}{
                float:none;
                display: block;
                width:100%;
                text-align: $text-left;
                padding-left: 10px;
                padding-right: 10px;
            }
            a{
                display: block;
                color: #fff;
                text-decoration: none;
                padding: 15px 10px;
                &:hover{
                    color:#ddd
                }
            }
        }
    }
}