/* Start Slider */
.slider{
  text-align: center;
  blockquote{
    text-align: center;
    line-height: 34px;
    color: $greyColor;
    font: {
        style:italic;
        size:20px;
        weight:bold;
        family:Tahoma,Arial;
    }
  }
  img{
    margin: 10px auto;
    max-width: 100%;
    width: 100%;
    height: 519px;
  }
  .bullets{

    li{
      width: 20px;
      height: 20px;
      background-color: $greyColor;
      display: inline-block;
      border:2px solid $greyColor;
      border-radius: 50%;
      margin: 0 3px;
      cursor: pointer;
      &.active,
      &:hover{
        background-color:#FFF;
        border: 2px solid #333;
      }
    }
  }
}
/* End Slider */

/* Start Service */
.Services{
  margin: 20px auto;
  margin-top: 82px;
  .service-box{
    text-align: $text-left;
    @media #{$minMedium} {
      float: $float-left;
      width:(100%/3);
      &:not(:last-of-type){
        padding-right:20px;
      }
    }
    @media #{$maxMobile} {
      i{
        display: block;
        margin-bottom:15px
      }
    }
    .service-title{
      color:#666;
      i{
        position: relative;
        font-size: 35px;
        top: 4px;
      }
      .heading{
        margin: 0 8px;
      }
    }
    .service-description{
      color:#777;
      line-height:1.5;
    }
    .link{
      color: $redColor;
      text-decoration: none;
    }
  }
}
/* End Service */

/* Start our-players */
.our-players{
  margin: 20px auto;
  margin-top: 82px;
  .player-box{
    padding-right: 20px;
    margin-bottom:30px;
    @media #{$minSmall} {
      padding: 7px;
      float: $float-left;
      width:(100%/2);
      text-align:center
    }
    @media #{$minMedium} {
      padding: 7px;
      width:(100%/2);
      text-align: $text-left
    }
    @media #{$minLarge} {
      width:(100%/4);
      margin-bottom:0;
    }
    @media #{$maxMobile} {
      padding-right: 0;
      margin-bottom:0;
    }
    .player-title{
      color:#666;
      font-weight: normal;
      .heading{
        font-weight: bold;
      }
    }
    .player-description{
      color:#777;
      line-height:1.5;
    }
    .link{
      color: $redColor;
      text-decoration: none;
    }
    img{
      width: 100%;
      max-width: 100%;
      height: 200px;
      max-height: 216px;
    }
  }
}
/* End our-players */

/* Start lorem ipsum */
.lorem-ipsum{
  margin: 20px auto;
  margin-top: 82px;
  .lorem-box{
    float: $float-left;
    width:(100%/3);
    text-align:center;
    padding:0 5px;
    img{
      max-width: 100%;
      width: 100%;
      height: 200px;
    }
  }
  .reset{
      // padding-right:0
    }
    
  }
/* End lorem ipsum */